// sass variables ------------
$base-value: #4D505B;
$primary-highlight: #16A79D;
$secondary-highlight: #CF4858;
$tertiary-highlight: #80628B;

$font-secondary: #CCCCCC;

$spacing: 20px;

$rounded: 5px;
$rounded-less: 3px;
$rounded-more: 15px;

// mixins --------------------
@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
// Usage
// .article {
//    @include clearfix();
// }

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}
*,
*:after,
*:before {
  @include box-sizing(border-box);
}
// ---------------------------

// common sass
.text-center {
  text-align: center;
}
.title-font {
  font-family: 'Exo 2', sans-serif;
}
.cursive-font {
  font-family: 'Yesteryear', cursive;
}
.font-xlarge {
  font-size: 40px;
}
.font-med {
  font-size: 24px;
}
.margin-top {
  margin-top: 20px;
}
.pad-all {
  padding: 15px;
}
.pad-left-more {
  padding-left: 16px;
}
.font-secondary {
  font-size: 18px;
  text-align: center;
}

.shadow {
  -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.75);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  background-color: $base-value;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.background-img {
  // width: 100%;
  // height: 100%;
  // position: fixed;
  // z-index: -1;
  // background: url('../images/background.png');
  // background-size: cover;
  // background-repeat: no-repeat;
} 
.container {
  width: 100%;
  height: 100%;
  background-color: $base-value;
}

.nav-bar {
  height: 80px;
  background-color: darken($base-value, 10%);
  border-top: 2px solid $secondary-highlight;
  border-bottom: 2px solid $secondary-highlight;
}
.bg-image {
  width: 100%;
  height: 100%;
  // background: url('../images/matte.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-container {
  margin-left: 40%;
}

.full-size {
  width: 100%;
  height: 100%;
}

.carousel-container {
  width: 300px;
  height: 400px;
}

img {
  max-width:100%;
  max-height:100%;
}

// actions sass
.action-bar {
  width: 600px;
  height: 100px;
  margin: 0 auto;
  background-color: $primary-highlight;
  border: 2px solid $secondary-highlight;
  border-radius: $rounded;
}
.action-list {
  li {
    width: 25%;
    height: 96px;
    padding-top: 5%;
    text-align: center;
  }

  .active-item {
    color: #CCCCCC;
    background-color: darken($primary-highlight, 10%);
  }
}
.action-message-box {
  height: 96px;
  color: #CCCCCC;
  background-color: darken($primary-highlight, 10%);
}
.contacts-container {
  width: 600px;
  height: 200px;
  margin: 0 auto;
  background-color: darken($base-value, 10%);
  border: 2px solid darken($base-value, 20%);
  border-radius: $rounded;
  overflow: scroll;

  .contacts-box {
    width: 300%;
    height: 200px;
  }

  .image-box {
    width: 180px;
    height: 180px;
    margin-top: 8px;
    margin-left: 10px;
    display: inline-block;
    float: left;
    padding: 8px;
    transition:all linear 0.2s;
  }
  .active-contact {
    padding: 0px;
    border: 5px solid $secondary-highlight;
    border-radius: $rounded;
    transition:all linear 0.2s;
  }

  img {
    border-radius: $rounded-less;
    transition:all linear 0.2s;
  }
}
.record-button {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  border: 1px solid black;
  margin: 10px;
  float: left;
  position: absolute;
  background-color: $secondary-highlight;
}

.progress-bar-container-right {
  width: 10px;
  height: 100%;
  background-color: $secondary-highlight;
  float: right;
  border-radius: 0 1px 1px 0;
}
.progress-bar-container-left {
  width: 10px;
  height: 100%;
  background-color: $secondary-highlight;
  float: left;
  border-radius: 0 1px 1px 0;
}
.message-active {
  border-bottom: 10px solid $secondary-highlight;
}

// animation and transition classes 

// .record-button.ng-hide {
//   opacity: 0;
//   -webkit-transition:all linear 0.25s;
//   transition:all linear 0.25s;
// }