<!-- <div messenger-actions actions="vm.actions" select-action="vm.selectedAction(value)"></div> -->
<div messenger-actions actions="vm.actions" action-item="actionItem"></div>
<div messenger-contacts contacts="vm.contacts" rotation-index="rotationIndex"></div>
<div messenger-message message="vm.message" message-body="vm.hasMessageBody(value)"></div>
<button ng-click="vm.sendMessage()">Temp Submit</button>
<button ng-click="vm.startSpeechRec()">Temp Recorder</button>
<button ng-click="vm.clearSelections()">Clear Selections</button>
<!-- Leap Coords {{actionItem}}
Rotation {{rotationIndex}} -->